<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
        <a class="nav-link " href="mainPage">
            <i class="bi bi-grid"></i>
            <span>Dashboard</span>
        </a>
        </li>

        <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#expenses-nav" data-bs-toggle="collapse" href="#">
            <i class="bi bi-wallet2"></i><span>Expenses</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="expenses-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <li>
            <a href="#">
                </i><span>Manage Expense</span>
            </a>
            </li>
            <li>
            <a href="viewHistory">
                </i><span>View History</span>
            </a>
            </li>
            <li>
            <a href="addExpense">
                </i><span>Add Expense</span>
            </a>
            </li>
        </ul>
        </li>

        <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#savings-nav" data-bs-toggle="collapse" href="#">
            <i class="bi bi-coin"></i><span>Limiting Expenses</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="savings-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <li>
            <a href="addCategory">
                </i><span>Add Category</span>
            </a>
            </li>
            <li>
            <a href="#">
                </i><span>Monthly Expense Limit</span>
            </a>
            </li>
            <li>
            <a href="#">
                </i><span>View Analysis</span>
            </a>
            </li>
        </ul>
        </li>
    </ul>

</aside>