<html lang="en">
  <head>
    <meta http-equiv="refresh" content="100" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="static\assets\css\registersignup.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="container" id="container">
      <div class="form-container sign-up-container">
        <form action="signUp" method="POST">
          <div class="header">Sign Up</div>
          <div class="button-input-group">
            <div class="group input-group">
              <input type="text" placeholder="Name" name="username" required />
            </div>
            <div class="group input-group">
              <input type="email" placeholder="Email" name="email" required />
            </div>
            <div class="group input-group">
              <input
                type="password"
                name="password"
                placeholder="Password"
                required
                pattern=".{8,}"
              />
            </div>
            <div class="alert-text signup__alert">
              <span class="help__text">At least 8 character</span>
            </div>
            <div class="group button-group">
              <button class="signup-btn" type="submit">Sign Up</button>
            </div>
          </div>
        </form>
      </div>

      <div class="form-container sign-in-container">
        <form action="login" method="POST">
          <div class="header">Sign In</div>
          <div class="button-input-group">
            <div class="group input-group">
              <input type="email" name="email" placeholder="Email" required />
            </div>
            <div class="group input-group">
              <input
                type="password"
                name="password"
                placeholder="Password"
                required
                pattern=".{8,}"
              />
            </div>
            <div class="alert-text signup__alert">
              <span class="help__text">At least 8 character</span>
            </div>
            <div class="group button-group">
              <button class="signin-btn" type="submit">Sign in</button>
            </div>
          </div>
        </form>
      </div>

      <div class="overlay-container">
        <div class="overlay">
          <div class="overlay-panel overlay-left">
            <h1>Welcome Back!</h1>
            <p>Please login your personal info</p>
            <div class="group button-group">
              <button class="ghost" id="signIn">Sign in</button>
            </div>
          </div>

          <div class="overlay-panel overlay-right">
            <h1>Hello, Friend!</h1>
            <p>Enter your personal details and start your journey with us</p>

            <div class="group button-group">
              <button class="ghost" id="signUp">Sign up</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="\static\assets\js\login.js"></script>
    <script>
      window.watsonAssistantChatOptions = {
        integrationID: "f7d1ccdd-bfea-4b89-86f5-6b39dec5265b", // The ID of this integration.
        region: "au-syd", // The region your integration is hosted in.
        serviceInstanceID: "6b723561-f3c4-4758-abeb-fce62fe509e2", // The ID of your service instance.
        onLoad: function (instance) {
          instance.render();
        },
      };
      setTimeout(function () {
        const t = document.createElement("script");
        t.src =
          "https://web-chat.global.assistant.watson.appdomain.cloud/versions/" +
          (window.watsonAssistantChatOptions.clientVersion || "latest") +
          "/WatsonAssistantChatEntry.js";
        document.head.appendChild(t);
      });
    </script>
  </body>
</html>
